-- Creazione tabella per i preset di filtri
CREATE TABLE IF NOT EXISTS filter_presets (
  id SERIAL PRIMARY KEY,
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  name VARCHAR(255) NOT NULL,
  filters JSONB NOT NULL,
  is_default BOOLEAN DEFAULT FALSE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(user_id, name)
);

-- Indici per performance
CREATE INDEX IF NOT EXISTS idx_filter_presets_user_id ON filter_presets(user_id);
CREATE INDEX IF NOT EXISTS idx_filter_presets_is_default ON filter_presets(is_default);

-- RLS (Row Level Security)
ALTER TABLE filter_presets ENABLE ROW LEVEL SECURITY;

-- Policy per permettere agli utenti di vedere solo i propri preset
CREATE POLICY filter_presets_user_policy ON filter_presets
  FOR ALL USING (auth.uid() = user_id);

-- Trigger per aggiornare updated_at
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS @types/react-date-range
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
@types/react-date-range language 'plpgsql';

CREATE TRIGGER update_filter_presets_updated_at 
  BEFORE UPDATE ON filter_presets 
  FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
